link(href="/lib/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
link(href="/css/components.css", rel="stylesheet")
link(href="/lib/jquery.uniform/dist/css/default.css", rel="stylesheet")
link(href="/lib/lightbox2/css/lightbox.min.css", rel="stylesheet")
link(href="/css/custom.css", rel="stylesheet")

script(src="/lib/jquery/dist/jquery.min.js")
script(src="/lib/bootstrap/dist/js/bootstrap.min.js")