.select-group {
	display: inline;;
}
#lists li {
	float: left;
	margin: 5px;
	list-style: none;
	padding: 6px;
	border: 1px solid #DDD;
	text-align: center;
}
#lists li img {
	margin-bottom: 5px;
}

#img-list  li {
	list-style: none;
	float: left;
}
#img-list li a{
	display: inline-block;
	margin: 0 0.5rem 0.5rem 0.5rem;
	padding: 4px;
	line-height: 0;
	background-color: #fff;
	transition: background-color 0.1s ease-out;
	-webkit-transition:background-color 0.1s ease-out;
	-moz-transition:background-color 0.1s ease-out;
	-o-transition:background-color 0.1s ease-out;
}
#img-list li a:hover
{
	background-color: #4ae;
}